<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>

    <asp:ContentPlaceHolder ID="Stylesheets" runat="server">
        <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet">
    </asp:ContentPlaceHolder>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <div class="container bg-dark">
            <div class="d-flex flex-wrap align-items-center justify-content-around">
                <a href="/" class="d-flex align-items-center col-lg-4 mb-1 mb-lg-0 mt-1 mt-lg-0">
                    <img class="bi me-2" width="63" height="64" src="~/img/tasks.png" />
                </a>
                <form class="col-12 col-lg-4 mb-3 mb-lg-0">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                </form>
                <div class="text-end mb-3 mb-lg-0">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sign-up</button>
                </div>
            </div>
        </div>
    </header>
    <main class="container mb-sm-5">
        <div class="row mt-3">
            <div class="col-sm-3 p-2">
                <ul class="nav flex-column nav-pills nav-tabs">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link link-secondary @ViewData["IndexActive"]">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Calendar" class="nav-link link-secondary @(@ViewData["CalendarActive"])">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="History" class="nav-link link-secondary @(@ViewData["HistoryActive"])">History</a>
                    </li>
                </ul>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-outline-primary mt-3" data-bs-toggle="modal" data-bs-target="#ModalTask">
                        New task
                    </button>
                </div>
            </div>
            <div class="row col-sm-8 w-75 ms-sm-2 mb-sm-5">
                @RenderBody()
            </div>

            @* add  last action for tasks *@
        </div>
    </main>
    <footer class="text-white fixed-bottom m-0">
        <div class="container bg-dark d-flex justify-content-around pt-3">
            <p>© @await Component.InvokeAsync("Year") Company, Tasks. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><img class="bi" width="24" height="24" src="~/img/twitter.png"></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><img class="bi" width="24" height="24" src="~/img/instagram.png"></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><img class="bi" width="24" height="24" src="~/img/facebook.png"></a></li>
            </ul>
        </div>
    </footer>

    @*add partialview*@
    <div class="modal" id="ModalTask">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form asp-action="/" method="post">
                    <div class="modal-header">
                        <h5 class="card-title">New task</h5>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Title" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Describe your task</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
