<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <asp:ContentPlaceHolder ID="Stylesheets" runat="server">
        <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/style.css">
    </asp:ContentPlaceHolder>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <div class="container bg-dark">
            <div class="d-flex flex-wrap align-items-center justify-content-around">
                <a href="/" class="d-flex align-items-center col-lg-4 mb-1 mb-lg-0 mt-1 mt-lg-0">
                    <img class="bi me-2" width="63" height="64" src="~/img/tasks.png" />
                </a>
                <form class="col-12 col-lg-4 mb-3 mb-lg-0">
                    <input type="search" name="Search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" value="@ViewBag.Search">
                </form>
                <div class="text-end mb-3 mb-lg-0">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sign-up</button>
                </div>
            </div>
        </div>
    </header>
    <main class="container mb-sm-5">
        <div class="row mt-3">
            <div class="col-sm-3 p-2">
                <ul class="nav flex-column nav-pills nav-tabs">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link link-secondary @ViewData["IndexActive"]">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Calendar" class="nav-link link-secondary @(@ViewData["CalendarActive"])">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="History" class="nav-link link-secondary @(@ViewData["HistoryActive"])">History</a>
                    </li>
                </ul>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-outline-primary mt-3" onclick="clearMW()" data-bs-toggle="modal" data-bs-target="#ModalTask">
                        New task
                    </button>
                </div>
            </div>
            @RenderBody()
        </div>
    </main>
    <footer class="text-white fixed-bottom m-0">
        <div class="container bg-dark d-flex justify-content-around pt-3">
            <p>© @await Component.InvokeAsync("Year") Company, Tasks. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><img class="bi" width="24" height="24" src="~/img/twitter.png"></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><img class="bi" width="24" height="24" src="~/img/instagram.png"></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><img class="bi" width="24" height="24" src="~/img/facebook.png"></a></li>
            </ul>
        </div>
    </footer>

    @{await Html.RenderPartialAsync("PartialView/_AddTaskMW");}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sortable").sortable();
            $("#sortable").disableSelection();
        });

        function clearMW() {
            document.getElementById("floatingInput").value = ""
            document.getElementById("floatingTextarea2").value = ""
        }
        function setValueMW(id) {
            var formAction = document.getElementById("form");
            var t = document.getElementById("t-" + id);
            var d = document.getElementById("d-" + id);

            formAction.setAttribute("action", "Home/Update/" + id);

            document.getElementById("floatingInput").value = t.innerHTML;
            document.getElementById("floatingTextarea2").value = d.innerHTML;
        }
    </script>
</body>
</html>
