@model List<Tasks.Models.TaskModel>;

@{
    ViewData["Title"] = "Index";
    ViewData["IndexActive"] = "active";
}
<div class="row col-sm-8 w-75 ms-sm-2 mb-sm-5">
    @*<button onclick="myFunction()">Try it</button>*@

    <div id="myDIV">
        This is a DIV element.
    </div>
    
    @foreach (var task in Model)
    {
        <div class="col-sm-3 @(task.Id > 4 ? " pt-3" : "pt-4" )">
            <div class="card">
                <div class="card-body">
                    @*<h5 class="card-title">@task.Title</h5>*@
                    <input type="text" id="handleCard" data-previous="@task.Id" data-next="@task.Id" name="handleCards" class="form-control" placeholder="Title" aria-label="Title" value="@task.Title">
                    <textarea id="handleCard" class="form-control handleCards" aria-label="With textarea handleCards">@task.Describe</textarea>
                    @*<p class="card-text">@task.Describe</p>*@
                </div>
            </div>
            <button onclick="myFunction(@task.Id)">Edit</button>
        </div>
    }
</div>
