@model TaskList;
@using Tasks.HtmlHelper


@{
    ViewData["Title"] = "Index";
    ViewData["IndexActive"] = "active";
}

<div>
    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
            @Model.Filter.StateName
        </button>
        <ul class="dropdown-menu">
            @foreach (var state in Model.States)
            {
                <li>
                    <a asp-action="Index" asp-route-stateOrder="@state.Key" class="dropdown-item @(Model.Filter.StateOrder == state.Key ? "active" : "")">@state.Value</a>
                </li>
            }
        </ul>
    </div>
</div>
<div class="page-content page-container" id="page-content">
    <div class="row d-flex mt-2 justify-content-center">
        <div class="col-sm-12 p-0">
            <div class="card border-0">
                <div class="card-block p-0">
                    <div class="row col-sm-8 w-100 m-0" id="sortable">
                        @for (int i = 1; i <= 3; i++)
                        {
                            if (Model.Items.Any(t => t.StateId == i))
                            {
                                @Html.StateName(Model.States[i], "mt-3 mb-2 fw-bold border-bottom");

                                foreach (var task in Model.Items.Where(t => t.StateId == i).ToList())
                                {
                                    <div class="col-sm-3 pt-1">
                                        <div class="card">
                                            @*<div class="dropdown p-1">
                                                    <a class="btn btn-outline-light border" style="color: black; padding: 0px 8px 0px 8px;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                                        @Model.States[task.StateId]
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        @foreach (var state in Model.States.Skip(1))
                                                        {
                                                            <li><a asp-action="UpdateState" asp-route-id="@task.Id" asp-route-stateId="@state.Key" class="dropdown-item">@state.Value</a></li>
                                                        }
                                                    </ul>
                                                </div>*@
                                            @Html.StateName(Model.States[task.StateId], "p-2")
                                            <div class="btn-group w-50 position-absolute top-0 end-0" role="group" aria-label="Basic mixed styles example">
                                                <a asp-controller="Home" asp-action="Delete" asp-route-id="@task.Id" class="btn btn-outline-light">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" color="#ff000078" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                                    </svg>
                                                </a>
                                                <a onclick="setValueMW(@task.Id)" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#ModalTask">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" color="#000000a6" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                            <div class="card-body cut-text">
                                                <h5 id="t-@task.Id" class="card-title mTitlet-3">@task.Title</h5>
                                                <p id="d-@task.Id" class="card-text">@task.Describe</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                @Html.StateName(Model.States[i], "mt-3 mb-2 fw-bold border-bottom");
                                <span>Empty</span>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>