@model TaskList;

@{
    ViewData["Title"] = "Index";
    ViewData["IndexActive"] = "active";
}

<asp:Content ID="Content1" ContentPlaceHolderID="Stylesheets" runat="server">
    @*select*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css" integrity="sha512-mR/b5Y7FRsKqrYZou7uysnOdCIJib/7r5QeJMFvLNHNhtye3xJp1TdJVPLtetkukFn227nKpXD9OjUc09lx97Q==" crossorigin="anonymous"
          referrerpolicy="no-referrer" />
</asp:Content>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

@*select*@
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js" integrity="sha512-FHZVRMUW9FsXobt+ONiix6Z0tIkxvQfxtCSirkKc5Sb4TKHmqq1dZa8DphF0XqKb3ldLu/wgMa8mT6uXiLlRlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="page-content page-container w-75" id="page-content">

    <div class="row d-flex mt-2 justify-content-center">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Tasks</h5>
                </div>
                <form class="form-group">

                    <div class="input-group mb-3">
                        <select class="selectpicker" id="inputGroupSelect02" name="StateOptions" multiple aria-label="size 3 select example">
                            <option>All</option>
                            @foreach (var state in Model.States)
                            {
                                @if (ViewBag.StateId == state.Key)
                                {
                                    <option value="@state.Key">@state.Value</option>
                                }
                                else
                                {
                                    <option value="@state.Key">@state.Value</option>
                                }
                            }s
                        </select>
                        <input type="submit" class="input-group-text" for="inputGroupSelect02">
                    </div>
                </form>

                @*<form class="form-group">
                    <div class="input-group mb-3">
                        <select class="selectpicker" multiple aria-label="size 3 select example">
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                            <option value="4">Four</option>
                        </select>
                    </div>
                </form>*@
                <div class="card-block">
                    <div class="row col-sm-8 w-100 m-0" id="sortable">
                        @foreach (var task in Model.Items)
                        {
                            <div class="col-sm-3 pt-3">
                                <div class="card">
                                    <span>@Model.States[task.StateId.ToString()]</span>
                                    <div class="btn-group w-50 position-absolute top-0 end-0" role="group" aria-label="Basic mixed styles example">
                                        <a asp-controller="Home" asp-action="Delete" asp-route-id="@task.Id" class="btn btn-outline-light">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" color="#ff000078" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                            </svg>
                                        </a>
                                        <button type="button" onclick="setValueMW(@task.Id)" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#ModalTask">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" color="#000000a6" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="card-body cut-text">
                                        <h5 id="t-@task.Id" class="card-title mTitlet-3 mt-4">@task.Title</h5>
                                        <p id="d-@task.Id" class="card-text">@task.Describe</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>